.d-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--foreground);
  border-radius: 4px;
  background-color: var(--background);
  color: var(--foreground);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1;
  font-weight: 400;
}

.d-button--full-width {
  width: 100%;
}

.d-button:active,
.d-button--pressed {
  background-color: var(--foreground);
  color: var(--background);
}

.d-button--toolbar {
  width: 36px;
  height: 36px;
}

.d-button--swatch {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.d-button--swatch:active,
.d-button--swatch.d-button--pressed {
  background-color: inherit;
  color: inherit;
}

/* When .d-button-swatch is hovered or focused increased the size by 15% */
.d-button--swatch:hover,
.d-button--swatch:focus {
  transform: scale(1.15);
  cursor: pointer;
}

.d-button--swatch.d-button--pressed {
  transform: scale(1.15);
}
